[submodule "EiGLasso"]
	path = EiGLasso
	url = https://github.com/SeyoungKimLab/EiGLasso
[submodule "teralasso"]
	path = teralasso
	url = https://github.com/kgreenewald/teralasso
[submodule "DNNLasso"]
	path = DNNLasso
	url = https://github.com/YangjingZhang/DNNLasso
[submodule "BiGLasso_Methods/teralasso"]
	path = BiGLasso_Methods/teralasso
	url = https://github.com/kgreenewald/teralasso
[submodule "BiGLasso_Methods/DNNLasso"]
	path = BiGLasso_Methods/DNNLasso
	url = https://github.com/YangjingZhang/DNNLasso
